* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
body {
    overflow-x: hidden;
}
.header {
    display: flex;
    align-items: flex-start;
}
header {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.logo {
    color: hsl(0, 0%, 8%);
    margin-left: 40px;
    margin-right: 48px;
    font-weight: 700;
    font-size: 48px;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    
}
li {
    display: flex;
    align-items: flex-end;
}
li img {
    display: flex;
    align-items: center;
    margin-bottom: 4.8px;
}
a {
    color: hsl(0, 0%, 41%);
}
a:hover {
    color: hsl(0, 0%, 8%);
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.login-area {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.active {
    display: flex;
}
.qualquer-coisa {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 64px;
}
.register {
    margin-left: 40px;
    margin-right: 80px;
    padding: 9.6px 16px;
    border-radius: 9.6px;
    border: 1px solid hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    justify-self: flex-end;
}
.register:hover {
    border:  1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}
.menu {
    display: none;
}
main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-end;
    padding: 40px;
}
.informations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.alguma-coisa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 496px;
    height: 432px;
}
.description-title {
    justify-self: flex-start;
    font-size: 4rem;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
}
.description {
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
    justify-self: center;
}
.description-button {
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    width: 128px;
    height: 41.6px;
    border-radius: 9.6px;
    background-color: hsl(0, 0%, 8%);
    padding: 9.6px 16px;
    cursor: pointer;
    justify-self: flex-end;
}
.description-button:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-image {
    width: 432px
}
.desktop-image {
    display: flex;
    width: 100%;
}
.mobile-image {
    display: none;
}
footer {
    text-align: center;

}
@media (max-width: 1440px) {
    .alguma-coisa {
        height: 432px;
        width: 432px;
    }
    .description-title {
        font-size: 4rem;
    }
}
@media (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .header {
        align-items: center;
    }
    .logo {
        font-size: 2rem;
        margin: 0;
        padding: 0 16px ;
    }
    .menu {
        display: flex;
        justify-self: flex-end;
        padding: 0 16px;
        position: absolute;
        left: 93%;
    }
    .qualquer-coisa {
        position: absolute;
        top: 0;
        left: -300px;
        display: block;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        
    }
    ul {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    #menu-toggle {
        position: absolute;
        opacity: 0;
    }
    label {
        cursor: pointer;
        position: relative;
        align-self: center;
        display: flex;
        flex-direction: column;
        height: 28.8px;
        width: 32px;
    }
    label span {
        position: absolute;
        display: block;
        height: 3.2px;
        width: 100%;
        background: hsl(0, 0%, 8%);
        transition: 0.25s ease-in-out;
    }
    label span:nth-child(1) {
        top: 3px;
    }
    label span:nth-child(2) {
        top: 13px;
    }
    label span:nth-child(3) {
        top: 23px;
    }
    #menu-toggle:checked + label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 13px;
    }
    #menu-toggle:checked + label span:nth-child(2) {
        transform: scale(0, 0);
    }
    #menu-toggle:checked + label span:nth-child(3) {
        transform: rotate(45deg);
        top: 13px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 40vh;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }
    .nav {
        align-items: flex-start;
        height: 50%;
    }
    .login-area {
        justify-content: space-between;
        height: 70px;
    }
    .register {
        margin: 0;
        padding: 9.6px 48px;
    }
    main {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        margin-top: 32px;
    }
    .informations {
        width: 90%;
        height: 240px;
    }
    .alguma-coisa {
        width: 90%;
        justify-content: space-around;
        text-align: center;
        align-self: center;
    }
    .description-title {
        font-size: 1.9rem;
        align-self: center;
    }
    .description-button {
        align-self: center;
    }
    .icons img {
        width: 65px;
    }
    .hero-image {
        width: 100%;
    }
    .desktop-image {
        display: none;
    }
    .mobile-image {
        display: flex;
        width: 100%;
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}